img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.login {
    text-align: center;
    font-size: large;
    padding: 50px;
}
h2 {
    text-align: center;
}